.container.img-Tc img
{
    text-align: center;
    width: 20px;
    height: 10px;
}















/*Estilando el footer*/

.contactos-footer
{
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

h3-footer
{
    color: white;
    text-align:justify;
    text-decoration:underline; 

}

footer ul
{
  padding-left: 0;
  list-style: none;
  margin: 0;
}

footer ul li
{
  margin-bottom: 10px;
  text-align: center;
  margin-left: -30px;
  margin-top: 5px;

}

.container-footer
{
    background-color: black;
}

ul
{
    color: white;
}